VITE_SUPABASE_URL=https://cfjnrinvytfthcfdiihy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmam5yaW52eXRmdGhjZmRpaWh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1NTAwOTMsImV4cCI6MjA4NDEyNjA5M30.yULT7tCbTBMtD5p3kXCsPqQJPuZUXH9o1l-GK_igqSI